* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://images.photowall.com/products/66700/abstract-wallpaper-ii.jpg?h=699&q=85);
    background: cover;
    text-align: center;
}
.main-section {
    position: absolute;
    max-width: 100%;
    width: 40vw;
    min-height: 60vh;
    max-height: 100%;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255,245,238, 0.5);
    border-radius: 15px;
}
.main-section h1 {
    margin-top: 10vh;
    margin-bottom: 3vh;
    max-width: 100%;
}
section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50px;
    transform: translateY(-50%);
}
section input {
    max-width: 100%;
    width: 200px;
    margin: 10px;
}
